body {
    overflow-x: hidden;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.text-muted {
    color: #777
}

.text-primary {
    color: #9c27b0
}

p {
    font-size: 14px;
    line-height: 1.75
}

p.large {
    font-size: 16px
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0
}

a {
    color: #9c27b0
}

a:hover,
a:focus,
a:active,
a.active {
    color: #862197
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}

.img-centered {
    margin: 0 auto
}

.bg-light-gray {
    background-color: #f7f7f7
}

.bg-darkest-gray {
    background-color: #222
}

.btn-primary {
    color: #fff;
    background-color: #9c27b0;
    border-color: #9c27b0;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #862197;
    border-color: #701c7e
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #9c27b0;
    border-color: #9c27b0
}

.btn-primary .badge {
    color: #9c27b0;
    background-color: #fff
}

.btn-xl {
    color: #fff;
    background-color: #9c27b0;
    border-color: #9c27b0;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #862197;
    border-color: #701c7e
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    background-color: #9c27b0;
    border-color: #9c27b0
}

.btn-xl .badge {
    color: #9c27b0;
    background-color: #fff
}

.navbar-default {
    background-color: transparent;
    border-color: transparent
}

.navbar-default .navbar-brand {
    color: #9c27b0;
    font-family: "Bubblegum Sans", "Helvetica Neue", Helvetica, Arial, cursive;
    display: none;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #862197
}

.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02)
}

.navbar-default .navbar-toggle {
    background-color: #9c27b0;
    border-color: #9c27b0
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #9c27b0
}

.navbar-default .nav li a {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #9C27B0;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #9c27b0;
    outline: 0
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #9c27b0
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #862197
}

.navbar-default.navbar-shrink {
    background-color: #222;
    padding: 10px 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.navbar-default.navbar-shrink .navbar-brand {
    font-size: 2em;
    display: block;
}

@media (min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px
    }   
}

header {
    background-image: url(../img/animal-header-bg.png);
    background-repeat: none;
    background-attachment: scroll;
    background-position: 25% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #9C27B0
}

header .intro-text {
    padding-top: 75px;
    padding-bottom: 25px
}

header .intro-panel {
    padding-top: 0;
    padding-bottom: 0;
}

header .intro-panel .btn-xl {
    margin-top: 15px;
    margin-bottom: 15px;
}

header .intro-text .intro-heading {
    font-family: "Bubblegum Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 50px;
    margin-bottom: 25px
}

@media (min-width:768px) {
    header {
        background-position: center top;
    }
    header .intro-text {
        padding-top: 250px;
        padding-bottom: 250px
    }
    header .intro-panel {
        padding-top: 150px;
        padding-bottom: 250px
    }
    header .intro-text .intro-heading {
        font-family: "Bubblegum Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px
    }
}

section {
    padding: 100px 0
}

section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px
}

section h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px
}

@media (min-width:768px) {
    section {
        padding: 150px 0
    }
}

.responsive-calendar {
	position: relative;
	padding-bottom: 75%;
	height: 0;
	overflow: hidden;
}
 
.responsive-calendar iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#photos img {
    margin-bottom: 30px;
}

#photos .photo-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto
}

#photos .photo-link .photo-hover {
    background: rgba(156, 39, 176, .8);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s
}

#photos .photo-link .photo-hover:hover {
    opacity: 1
}

#photos .photo-link .photo-hover .photo-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff
}

.video {
	margin-bottom: 30px;
}

section#reviews .popover {
  position: relative;
  display: block;
  margin: 20px;
  z-index: initial;
  max-width: none;
}


section#reviews img {
    margin: 25px auto
}

@media (max-width:992px) {
    section#reviews .popover.right>.arrow {
        top: 20%;
    }
}

@media (max-width:375px) {
    section#reviews .logo-column {
        display: none;
    }
    section#reviews .quote-column {
        width: 100%;
    }
}

section#contact {
    background-color: #222;
}

section#contact .section-heading {
    color: #fff
}

section#contact p {
    color: #aaa
}

section#contact .email {
    color: #fff;
    font-size: 18px;
}

footer {
    padding: 25px 0;
    text-align: center
}

footer span.copyright {
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0
}

::-moz-selection {
    text-shadow: none;
    background: #9c27b0
}

::selection {
    text-shadow: none;
    background: #9c27b0
}

img::selection {
    background: 0 0
}

img::-moz-selection {
    background: 0 0
}

body {
    webkit-tap-highlight-color: #9c27b0
}